<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <link rel="stylesheet" href="../Style.css">
   
</head>
<body>
    <div class="profile-container">
        <div class="profile-header">
            <img src=" <%=data.image%>" alt="Profile Picture" class="profile-pic">
           <div class="profile-name">
            <h1>Name: <%=data.name%></h1>
            <h2> Profession:  <%=data.profession%></h2>
            <h2>Connections :  <%=data.connections%></h2>
           </div>
        </div>
        <div class="profile-info">
            <h3>About Me:</h3>
            <p> <%=data.about%></p>
            <h3>Skills:</h3>
            <ul>
                <li> <%=data.skills.a%></li>
                <li> <%=data.skills.b%></li>
                <li> <%=data.skills.c%></li>
                <li> <%=data.skills.d%></li>
                <li> <%=data.skills.e%></li>
            </ul>
            <h3>Contact:</h3>
            <p>Email: <a href=""> <%=data.email%></a></p>
            <p>Phone:  <%=data.phone%></p>
        </div>
    </div>
</body>
</html>